name: main

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v4
        with:
          node-version-file: ".tool-versions"
          cache: "npm"

      - name: Install
        run: npm ci
      - name: Build
        run: npm run build
      - name: Test
        run: npm run test
      - name: Format
        run: npm run fmtcheck
      # - name: "check for uncommitted changes"
      #   # Ensure no changes, but ignore node_modules dir since dev/fresh ci deps installed.
      #   run: |
      #     git diff --exit-code --stat -- . ':!node_modules' \
      #     || (echo "##[error] found changed files after build. please 'npm run build && npm run fmt'" \
      #             "and check in all changes" \
      #         && exit 1)
